IS_PRODUCTION: false
GROUP_ID: 
GROUP_PASSWORD: b6cb0af1a17fb60ae97ed8178802ceb0
MASTER_IP_ADDR: 0.0.0.0
MASTER_PORT: 3456
MASTER_PASSWORD: dev-pass
NODE_NAMESPACE: CDE
NODE_HOST: 
NODE_PORT: 3000
NODE_APP_TYPE: slave
MEMCACHE_IP_ADDR: 
MEMCACHE_PORT: 5672
RABBITMQ_IP_ADDR: 
RABBITMQ_PORT: 11211
RSA_PUBLIC_KEY_PATH:
NODE_DRIVES:
