IS_PRODUCTION: false
GROUP_PASSWORD: b6cb0af1a17fb60ae97ed8178802ceb0
MASTER_IP_ADDR: 0.0.0.0
MASTER_PORT: 3456
MASTER_PASSWORD: dev-pass
NODE_NAMESPACE: CDE
NODE_HOST: 
NODE_PORT: 
NODE_APP_TYPE: slave
MEMCACHE_IP_ADDR: 
MEMCACHE_PORT: 
RABBITMQ_IP_ADDR: 
RABBITMQ_PORT: 
